<div class="otp-container">
    <div class="headliner">
      <div>
        <img src="../../../assets/images/OTP/backButton.png" (click)="goBack()" alt="Back button" />
      </div>
      <p>J</p>
    </div>
    <h1>Enter code</h1>
    <p class="otp-sub">We’ve sent an SMS with an activation code to your phone.</p>
    <form (ngSubmit)="onVerify()">
      <div class="otp-input">
        <input type="text" maxlength="1" [(ngModel)]="otp[0]" />
        <input type="text" maxlength="1" [(ngModel)]="otp[1]" />
        <input type="text" maxlength="1" [(ngModel)]="otp[2]" />
        <input type="text" maxlength="1" [(ngModel)]="otp[3]" />
        <input type="text" maxlength="1" [(ngModel)]="otp[4]" />
        <input type="text" maxlength="1" [(ngModel)]="otp[5]" />
      </div>
      <div class="sub-para">
        <p>Reference: {{ reference }}</p>
        <p>OTP Expires in: {{ countdown }}</p>
      </div>
      
      <!-- <button mat-raised-button color="primary" type="submit">Verify</button> -->
    </form>
  </div>
  