<div class="company-profile">
    <div class="headliner">
        <div>
          <img src="../../../assets/images/OTP/backButton.png"  (click)="goBack()" alt="Back button" />
        </div>
        <p style="visibility: hidden;">J</p>
      </div>

      <div class="info-card">
        <div class="code">
            <p>Code: {{profileInfo?.CUST_CODE}}</p>
        </div>
        <p class="company-name">{{profileInfo?.CUST_NAME}}</p>
        <p class="company-group">{{profileInfo?.TRADE_NAME}}</p>
        <div class="phone">
            <img src="../../../assets/images/complete/phone.png"/>
            <p>{{profileInfo?.MOBILE}}</p>
        </div>
    </div>

    <div class="branch-section">
        <div class="branch-heading">
            <img src="../../../assets/images/complete/storefront.png" alt="branch">
            <p>Branch</p>
        </div>
        <div *ngFor="let branch of profileInfo?.BRANCH">
            <div class="branch-list">
                <p>{{branch?.BRANCH_NAME}}</p>
                <div class="location">
                    <img src="../../../assets/images/complete/icon.png" alt="location pin"/>
                    <p>{{branch?.ADDRESS}}</p>
                </div>
            </div>
        </div>
        
        <!-- <div class="branch-list">
            <p style="padding-top: 16px;">Branch 2</p>
            <div class="location">
                <img src="../../../assets/images/complete/icon.png" alt="location pin"/>
                <p>1901 Thornridge Cir. Shiloh, Hawaii 81063</p>
            </div>
        </div> -->
    </div>

    <div class="button-section">
        <button (click)="onDeleteProfile()">Delete Account</button>
    </div>

</div>