.not-found{
    margin: 15px 24px;
    .img-cross{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 370px;
            height: 370px;
        }
    }

    .para{
        margin: 69px 0;
        h3{
            color:#BA1A1A;
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%; /* 46.8px */
            letter-spacing: -0.36px;
        }
        p{
            color:#767680;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; /* 26px */
            letter-spacing: -0.2px;
        }
    }

    .button-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // position: fixed;
        // bottom: 24px;
        // left: 0;
        // right: 0;
        // padding: 0 24px;
    }
    
    .button-section button {
        padding: 10px 24px;
        margin-bottom: 10px;
        border-radius: 100px;
        background:#0743FF;
        color: #FFF;
        border: none;
        width: 100%;
    }
}