<div class="profile">
    <div class="profile-card">
        <div style="width: 30%;">
            <p>My</p>
            <p>Profile</p>
        </div>
        <img src="../../../assets/images/profile/stretching.png" alt="stretching" />
        <img class="flare" src="../../../assets/images/profile/flare.png" alt="flare" />        
    </div>

    <div class="info">
        <h3>Personal Information</h3>

        <div class="info-card">
            <div class="code">
                <p>Code: 1234</p>
            </div>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <p class="company-name">McDonald's</p>
                    <p class="company-group">Alibaba Group holdings ltd</p>
                </div>
                <img style="width: 24px; height: 24px;" src="../../../assets/images/profile/arrow_forward.png">
            </div>
            <div class="phone">
                <img src="../../../assets/images/complete/phone.png"/>
                <p>080-212-1xxx</p>
            </div>
        </div>

        <div class="info-card" style="margin-top: 16px;">
            <div class="code">
                <p>Code: 1234</p>
            </div>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <p class="company-name">McDonald's</p>
                    <p class="company-group">Alibaba Group holdings ltd</p>
                </div>
                <img style="width: 24px; height: 24px;" src="../../../assets/images/profile/arrow_forward.png">
            </div>
            
            <div class="phone">
                <img src="../../../assets/images/complete/phone.png"/>
                <p>080-212-1xxx</p>
            </div>
        </div>

        <div class="button-section">
            <button>Add more company/ เพิ่มบริษัท</button>
        </div>
    </div>
</div>