<div class="complete-container">

    <div class="component-space">
        <div class="check">
            <img src="../../../assets/images/complete/check.png" alt="check">
        </div>
        <h2>Registration Complete</h2>
        <p class="sub-text">We're preparing a fresh, exciting online experience just for you. Stay tuned!</p>

        <div class="info-card">
            <div class="code">
                <p>Code: {{completeData?.CUST_CODE}}</p>
            </div>
            <p class="company-name">{{completeData?.CUST_NAME}}</p>
            <p class="company-group">{{completeData?.TRADE_NAME}}</p>
            <div class="phone">
                <img src="../../../assets/images/complete/phone.png"/>
                <p>{{completeData?.MOBILE}}</p>
            </div>
        </div>

        <div class="branch-section">
            <div class="branch-heading">
                <img src="../../../assets/images/complete/storefront.png" alt="branch">
                <p>Branch</p>
            </div>
            <div *ngFor="let branch of completeData?.BRANCH" style="margin-top: 16px;">
                <div class="branch-list">
                    <p>{{branch.BRANCH_NAME}}</p>
                    <div class="location">
                        <img src="../../../assets/images/complete/icon.png" alt="location pin"/>
                        <p>{{branch.ADDRESS}}</p>
                    </div>
                </div>
            </div>
            
            <!-- <div class="branch-list">
                <p style="padding-top: 16px;">Branch 2</p>
                <div class="location">
                    <img src="../../../assets/images/complete/icon.png" alt="location pin"/>
                    <p>1901 Thornridge Cir. Shiloh, Hawaii 81063</p>
                </div>
            </div> -->
        </div>

        <div class="company-added">
            <p>Company already added</p>
            <div class="company-info-container" *ngFor="let company of completeData?.OTHER_REGISTERED">
                <div class="company-info-card">
                    <div class="code">
                        <p>Code: {{company.CUST_CODE}}</p>
                    </div>
                    <p class="heading">{{company.CUST_NAME}}</p>
                    <p class="para">{{company.TRADE_NAME}}</p>
                </div>
            </div>
        </div>
        

        <div class="button-section">
            <button>Add more company/ เพิ่มบริษัท</button>
            <p>Done</p>
        </div>
    </div>
</div>