<div class="complete-container">

    <div class="component-space">
        <div class="check">
            <img src="../../../assets/images/complete/check.png" alt="check">
        </div>
        <h2>Registration Complete</h2>
        <p class="sub-text">We're preparing a fresh, exciting online experience just for you. Stay tuned!</p>

        <div class="info-card">
            <div class="code">
                <p>Code: 1234</p>
            </div>
            <p class="company-name">McDonald's</p>
            <p class="company-group">Alibaba Group holdings ltd</p>
            <div class="phone">
                <img src="../../../assets/images/complete/phone.png"/>
                <p>080-212-1xxx</p>
            </div>
        </div>
    </div>
</div>