<div class="complete-container">

    <div class="component-space">
        <div class="check">
            <img src="../../../assets/images/complete/check.png" alt="check">
        </div>
        <h2>Registration Complete</h2>
        <p class="sub-text">We're preparing a fresh, exciting online experience just for you. Stay tuned!</p>

        <div class="info-card">
            <div class="code">
                <p>Code: 1234</p>
            </div>
            <p class="company-name">McDonald's</p>
            <p class="company-group">Alibaba Group holdings ltd</p>
            <div class="phone">
                <img src="../../../assets/images/complete/phone.png"/>
                <p>080-212-1xxx</p>
            </div>
        </div>

        <div class="branch-section">
            <div class="branch-heading">
                <img src="../../../assets/images/complete/storefront.png" alt="branch">
                <p>Branch</p>
            </div>
            <div class="branch-list">
                <p>Branch 1</p>
                <div class="location">
                    <img src="../../../assets/images/complete/icon.png" alt="location pin"/>
                    <p>1901 Thornridge Cir. Shiloh, Hawaii 81063</p>
                </div>
            </div>
            <div class="branch-list">
                <p style="padding-top: 16px;">Branch 2</p>
                <div class="location">
                    <img src="../../../assets/images/complete/icon.png" alt="location pin"/>
                    <p>1901 Thornridge Cir. Shiloh, Hawaii 81063</p>
                </div>
            </div>
        </div>

        <div class="button-section">
            <button>Add more company/ เพิ่มบริษัท</button>
            <p>Done</p>
        </div>
    </div>
</div>