<div class="already-exist">
    <div class="img-cross">
        <img style="width: 380px; height: 380px;" src="../../../assets/images/sub-pages/already-exist.png" alt="already exist" />
    </div>

    <div class="para">
        <p>This Account Already Exists</p>
        <p class="sub-para">It looks like the customer code and phone number you entered are already registered with us</p>
    </div>

    <div class="button-section">
        <button>Try again/ ลองใหม่อีกครั้ง</button>
    </div>
</div>